<!-- Pour le maillot local -->
<div class="ligne">
    <label>{{ form.maillot_local_taille.label }}: </label>{{ form.maillot_local_taille }}
    <label>{{ form.maillot_local_numero.label }}: </label>{{ form.maillot_local_numero }}
    <label>{{ form.maillot_local_nom.label }}: </label>{{ form.maillot_local_nom }}
</div>

<!-- Pour le maillot visiteur -->
<div class="ligne">
    <label>{{ form.maillot_visiteur_taille.label }}: </label>{{ form.maillot_visiteur_taille }}
    <label>{{ form.maillot_visiteur_numero.label }}: </label>{{ form.maillot_visiteur_numero }}
    <label>{{ form.maillot_visiteur_nom.label }}: </label>{{ form.maillot_visiteur_nom }}
</div>
